.errorBody {
  background-color: #26292e !important;
  color: #2e2f30;
  font-family: sans-serif;
  margin: 0 -20px;
  padding: 0;
  height: 100vh;
  width: calc(100% + 40px);
}

.errorBody .dialog {
  float: right;
  text-align: left;
  width: 60%;
  margin: 5% auto 0;
}

.errorBody h1 {
  font-size: 4em;
  color: #fff;
  line-height: 1em;
}

.errorBody p {
  font-size: 1.4em;
  color: #fff;
  padding-right: 5%;
}
.errorBody .errImage {
  position: absolute;
  float: left;
  top: 0;
  /* width: 60%; */
  height: 100%;
}
@media only screen and (max-width: 767px) {
  .errorBody {
    position: absolute;
  }
  .errorBody .errImage {
    width: 100%;
    height: auto;
    top: -50px;
  }
  .errorBody .dialog {
    float: none;
    text-align: center;
    width: 90%;
    margin-top: 70%;
  }
}

nav .sidenav---sidenav---_2tBP{
  height: 100vh;
}
.sidenav---sidenav---_2tBP {
  background: #434343 !important;
}
.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL
  .sidenav---sidenav-subnav---1EN61
  > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y
  > .sidenav---navitem---9uL5T {
  color: fuchsia;
}
.sidenav---highlighted---oUx9u {
  background: #200000 !important;
}
